<!-- <form asp-controller="LogIn" asp-action="LogOut" method="POST">
    <input type="submit" value="LogOut">
</form> -->

<h1>YOU MADE IT!!!</h1>

<h3>Welcome to the 'Landing Page' @ViewBag.loggedUser.firstName</h3>

<h3>What would you like to do?  Select your preference below</h3>
<div>
    <a href="/Product/ViewProducts">ViewProducts</a>
</div>
<div>
    <a href="/Product/NewProduct">Create New Product</a>
</div>