<form asp.asp-controller="LogIn" asp-action="LogOut" method="POST">
    <input type="submit" value="LogOut">
</form>

<h1>YOU MADE IT!!!</h1>

<h3>Welcome to the 'Other Page' @ViewBag.loggedUser.firstName</h3>